<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="TaskManagerPU" transaction-type="JTA">
    <jta-data-source>java:app/jdbc/TaskManager</jta-data-source>
    <class>com.taskmanager.entity.Cliente</class>
    <class>com.taskmanager.entity.Funcion</class>
    <class>com.taskmanager.entity.Problema</class>
    <class>com.taskmanager.entity.Proceso</class>
    <class>com.taskmanager.entity.StatusWork</class>
    <class>com.taskmanager.entity.Tarea</class>
    <class>com.taskmanager.entity.TipoFuncion</class>
    <class>com.taskmanager.entity.Unidad</class>
    <class>com.taskmanager.entity.Usuario</class>
    <class>com.taskmanager.entity.Rol</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>